<div class="review-card flex-jus-sb flex-al-ce">

    <div class="left flex-al-ce g-20">
        <div class="review-id flex-dir flex-al-ce flex-jus-ce">
            <p class="label std-header-font font-w-500">Review</p>
            <h3 class="std-header-font font-w-500">#{{ review.review_id }}</h3>
        </div>

        <div class="divider"></div>

        <div class="content flex-dir g-8">

            <div class="top flex-al-ce g-10">
                <span class="user-badge font-20 std-header-font font-w-500">
                    {{ review.user.name | titlecase }}
                </span>

                <span class="rating font-20 std-header-font font-w-500">
                    {{ review.rating }}
                </span>
            </div>

            <p class="comment std-tagline-font font-w-500">
                {{ review.comments }}
            </p>

            <p class="date std-tagline-font font-w-500">
                {{ review.createdAt | date:'dd MMM yyyy, hh:mm a' }}
            </p>

        </div>
    </div>

</div>