.home-page {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.hero-section {
    /* background-color: var(--bg); */
    height: 100vh;
    padding: 80px 60px 20px 60px;
}

.hero-section-card {
    position: relative;
    height: 100%;
    border-radius: 20px;
}

.hs-card-image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 100%;
    background-image: url('../../../public/hero1.jpg');
    background-position: 10% 30% !important;
}

.hs-card-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../public/hero2.jpg');
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    opacity: 0;
    transition: clip-path 0.2s ease, opacity 0.2s ease;
}

.hero-section-card:hover .hs-card-image::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
}

.hs-card-overlay {
    border-radius: 20px;
}

.hero-header-font {
    font-size: 40px;
    font-weight: Bold;
    color: white;
}

.hero-tagline-font {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.card-overlay-info>div {
    width: 50%;
}

.divider-1 {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.divider-1-loop {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}

.divider-1-loop p {
    padding: 0 40px;
    font-size: 40px;
    font-weight: 400;
    color: var(--text);
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.categories {
    margin: 20px 120px;
}

.category-card-image {
    width: 100px;
    height: 100px;
}

.category-card-image>div {
    width: 60%;
    height: 60%;
}

.category-name {
    font-weight: 500;
}

.best-deals {
    border-top: 1px solid rgb(204, 204, 204);
    margin: 40px var(--std-padding);
    padding: 40px 0px;
    height: 100vh;
}

.link-category {
    text-decoration: none;
}

.link-category:hover .arrow {
    background-color: black;
    color: white;
    transform: scale(1.4);
}

.link-category>p {
    position: relative;
    display: inline-block;
}

.link-category>p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link-category:hover p::after {
    width: 100%;
}

.best-deal-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0px;
}

.best-deal-product>div:first-child {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.best-deal-product>div:first-child>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    position: relative;
    background-color: var(--bg);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .overlay {
    border-radius: 20px;
    padding: 20px;
}

.item .circle {
    margin: 0px;
}

.item .arrow:hover {
    background-color: black;
    color: white;
    transform: scale(1.4);
}

.divider-2 {
    padding: 40px 120px;
    background-color: rgb(28, 44, 28);
}

.products-progress .overlay {
    background-color: transparent;
    height: fit-content;
    width: 100%;
    top: -20px;
}

.product-image {
    width: 325px;
    height: 350px;
    background-color: var(--bg);
    border-radius: 20px;
}

.services {
    margin: 60px 0px;
    padding: 20px var(--std-padding) 20px 0px;
    background-color: rgb(246, 246, 246);
}

.services>div:first-child {
    height: 500px;
    width: 60%;
    background-image: url('/hero1.jpg');
    border-radius: 0px 20px 20px 0px;
}

.services>div:last-child {
    height: 500px;
    width: 40%;
    padding: 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
}

.services h2 {
    font-size: 30px;
}

.services .circle {
    background-color: grey;
    height: 30px;
    width: 30px;
    color: black;
    text-align: center;
    margin: 0;
}

.customer-reviews img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.customer-reviews {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 60px;
}

.reviews-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.review-card {
    position: absolute;
    width: 260px;
    padding: 16px;
    border-radius: 16px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    opacity: 0;
    transform: translateY(50px) scale(0.9);
    animation: fadeSlideIn 0.6s ease forwards;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.rating {
    font-size: 14px;
    color: gold;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.grab-attention {
    margin: 60px 0px;
    padding: 20px var(--std-padding) 20px 0px;
    background-color: rgb(246, 246, 246);
}

.grab-attention .overlay {
    background-color: transparent;
    height: 100% !important;
    width: 100% !important;
    padding-bottom: 50px;
    padding-right: 250px;
}

.grab-attention>div:first-child {
    height: 500px;
    width: 60%;
    background-image: url('/hero1.jpg');
    border-radius: 0px 20px 20px 0px;
}

.grab-attention .overlay>div {
    height: 300px;
    width: 40%;
    padding: 25px;
    border-radius: 20px;
}

.grab-attention p {
    text-align: center;
}

.divider-3 {
    background-color: rgb(28, 44, 28);
}

.divider-3 p {
    color: white;
}