<div class="home-page">
    <section class="hero-section">
        <div class="hero-section-card">
            <div class="hs-card-image img-container"></div>

            <div class="hs-card-overlay overlay flex-al-end">
                <div class="card-overlay-info flex-jus-sb p-20">

                    <div class="flex-al-bs flex-jus-fs flex-dir g-20">
                        <div>
                            <h1 class="std-header-font hero-header-font">Buy our new Arrivals</h1>
                        </div>
                        <div>
                            <p class="std-tagline-font hero-tagline-font">
                                Hurry!!! we have new stock of the clothes and shoes.
                                Get products with best price.
                            </p>
                        </div>
                        <div>
                            <button>Shop now</button>
                        </div>
                    </div>

                    <div class="flex-al-end flex-jus-fe g-20">
                        <div class="flex-jus-sb g-20">
                            <div>
                                <button class="std-tagline-font hero-tagline-font"
                                    style="padding-top: 5px;">&larr;</button>
                            </div>
                            <div class="flex-jus-ce flex-al-ce">
                                <p class="std-tagline-font hero-tagline-font">1/2</p>
                            </div>
                            <div>
                                <button class="std-tagline-font hero-tagline-font"
                                    style="padding-top: 5px;">&rarr;</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="divider-1">
        <div class="divider-1-loop flex-jus-sb flex-al-ce">
            <p class="std-tagline-font">Free shipping</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">10% Discount on prices above ₹1000</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">Free shipping</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">10% Discount on prices above ₹1000</p>
            <div class="circle" style="background-color: black;"></div>
        </div>
    </div>

    <div class="categories flex-jus-sb flex-al-ce g-20 p-20">
        @for (item of categories; track $index) {
        <div class="category-card flex-dir flex-al-ce g-20">
            <div class="category-card-image circle flex-al-ce flex-jus-ce" [style.background-color]="item.color">
                <div class="img-container" [style.background-image]="'url(' + item.image + ')'"></div>
            </div>
            <div class="category-card-overlay">
                <p class="std-header-font category-name">{{item.name}}</p>
            </div>
        </div>
        }
    </div>

    <section class="best-deals">
        <div class="flex-jus-sb flex-al-ce">
            <h1 class="font-40 font-w-600 std-header-font">Best Deals</h1>

            <a routerLink="/auth/login" class="flex-al-ce g-20 link-category">
                <p class="std-tagline-font font-20">View All our categories</p>
                <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                    <p class="font-20">&nearr;</p>
                </div>
            </a>
        </div>

        <div>
            <p class="std-tagline-font font-20 font-w-500 pt-20">
                Explore our curated range of top-tier products.
                discover the perfect fit for any occasion or lifestyle.
            </p>
        </div>

        <div class="best-deal-product flex-al-ce flex-jus-ce g-10 h-100 mgb-40">

            <div class="h-100 g-10">

                <div class="h-100 g-10">

                    <div class="item">
                        <div class="overlay flex-al-end">
                            <div class="flex-jus-sb flex-al-end">
                                <div class="flex-dir flex-al-bs flex-jus-ce">
                                    <h1 class="font-40 font-w-600 std-header-font">Furniture</h1>
                                    <p class="std-tagline-font font-20 font-w-500">10 products</p>
                                </div>
                                <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                                    <p class="font-20">&nearr;</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="overlay flex-al-end">
                            <div class="flex-jus-sb flex-al-end">
                                <div class="flex-dir flex-al-bs flex-jus-ce">
                                    <h1 class="font-40 font-w-600 std-header-font">Furniture</h1>
                                    <p class="std-tagline-font font-20 font-w-500">10 products</p>
                                </div>
                                <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                                    <p class="font-20">&nearr;</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item">
                    <div class="overlay flex-al-end">
                        <div class="flex-jus-sb flex-al-end">
                            <div class="flex-dir flex-al-bs flex-jus-ce">
                                <h1 class="font-40 font-w-600 std-header-font">Furniture</h1>
                                <p class="std-tagline-font font-20 font-w-500">10 products</p>
                            </div>
                            <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                                <p class="font-20">&nearr;</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="item h-100">
                <div class="overlay flex-al-end">
                    <div class="flex-jus-sb flex-al-end">
                        <div class="flex-dir flex-al-bs flex-jus-ce">
                            <h1 class="font-40 font-w-600 std-header-font">Furniture</h1>
                            <p class="std-tagline-font font-20 font-w-500">10 products</p>
                        </div>
                        <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                            <p class="font-20">&nearr;</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div>
        <div class="mgx-60 pt-20">
            <div class="flex-al-ce pt-20 mgb-40">
                <div style="border-right: 2px solid black; width: 50%" class="flex-shrink-0">
                    <h1 class="font-50 font-w-500 std-header-font">
                        We provide best <br> customer experience
                    </h1>
                </div>

                <div style="padding-left: 20px;">
                    <p class="std-tagline-font font-20 font-w-400">
                        we ensure our customers have the best customer experience
                        by providing them with high-quality products and excellent customer service.
                    </p>
                </div>
            </div>
            <div class="flex-al-ce pt-20 mgb-40 g-20">
                <div>
                    <div class="img-container mgb-10"></div>
                    <h2 class="font-w-600 std-header-font mgb-10">Original Products</h2>
                    <p class="font-w-400 std-tagline-font">
                        We provide money back guarantee if the product is not original
                    </p>
                </div>

                <div>
                    <div class="img-container mgb-10"></div>
                    <h2 class="font-w-600 std-header-font mgb-10">Free shipping</h2>
                    <p class="font-w-400 std-tagline-font">
                        We provide money back guarantee if the product is not original
                    </p>
                </div>

                <div>
                    <div class="img-container mgb-10"></div>
                    <h2 class="font-w-600 std-header-font mgb-10">100% secure payments</h2>
                    <p class="font-w-400 std-tagline-font">
                        We provide money back guarantee if the product is not original
                    </p>
                </div>

                <div>
                    <div class="img-container mgb-10"></div>
                    <h2 class="font-w-600 std-header-font mgb-10">24/7 Online Support</h2>
                    <p class="font-w-400 std-tagline-font">
                        We provide money back guarantee if the product is not original
                    </p>
                </div>
            </div>
        </div>

        <div class="divider-2 mgb-40">
            <h1 class="font-50 font-w-600 std-header-font" style="color: white; text-align: center;">
                We ensure our customers have the best customer experience
            </h1>
        </div>
    </div>
    <section class="mgx-60">
        <div class="flex-jus-ce mgb-40">
            <h1 class="font-50 font-w-500 std-header-font">People's pick</h1>
        </div>
        <div class="flex-jus-ce g-40 mgb-40">
            <div>
                <h2 class="font-40 font-w-600 std-header-font color-grey">Accessories</h2>
            </div>
            <div>
                <h2 class="font-40 font-w-600 std-header-font color-grey">Home Appliances</h2>
            </div>
            <div>
                <h2 class="font-40 font-w-600 std-header-font color-grey">Furniture</h2>
            </div>
            <div>
                <h2 class="font-40 font-w-600 std-header-font color-grey">Beauty</h2>
            </div>
        </div>
        <div class="flex-jus-sb mgb-40">
            <div>
                <div class="product-image mgb-10"></div>
                <div>
                    <div class="mgb-10">
                        <h1 class="font-20 font-w-600 std-header-font">Product name</h1>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-400 std-tagline-font color-grey">Product description</p>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-600 std-tagline-font">$100</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-image mgb-10"></div>
                <div>
                    <div class="mgb-10">
                        <h1 class="font-20 font-w-600 std-header-font">Product name</h1>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-400 std-tagline-font color-grey">Product description</p>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-600 std-tagline-font">$100</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-image mgb-10"></div>
                <div>
                    <div class="mgb-10">
                        <h1 class="font-20 font-w-600 std-header-font">Product name</h1>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-400 std-tagline-font color-grey">Product description</p>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-600 std-tagline-font">$100</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="product-image mgb-10"></div>
                <div>
                    <div class="mgb-10">
                        <h1 class="font-20 font-w-600 std-header-font">Product name</h1>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-400 std-tagline-font color-grey">Product description</p>
                    </div>
                    <div class="mgb-10">
                        <p class="font-w-600 std-tagline-font">$100</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-progress flex-al-ce mgb-40 relative">
            <div class="flex-jus-ce w-100">
                <div style="border-top: 2px solid black; width: 70%;"></div>
            </div>
            <div class="flex-jus-fe g-20 overlay flex-shrink-0">
                <button>&larr;</button>
                <button>&rarr;</button>
            </div>
        </div>
        <div class="mgb-20 flex-jus-ce w-100">
            <button>View all products</button>
        </div>
    </section>
    <section class="services flex-jus-sb g-40">
        <div class="img-container"></div>
        <div>
            <div class="mgb-40 pt-40">
                <h1 class="font-50 font-w-500 std-header-font">See what we offer</h1>
            </div>
            <div class="flex-jus-fs g-20 mgb-20 pt-20">
                <div class="circle flex-al-ce flex-jus-ce std-tagline-font">1</div>
                <div class="circle flex-al-ce flex-jus-ce std-tagline-font">2</div>
                <div class="circle flex-al-ce flex-jus-ce std-tagline-font">3</div>
            </div>
            <div class="mgb-40">
                <div>
                    <div class="mgb-20">
                        <h2 class="font-20 font-w-600 std-header-font">Original Products</h2>
                    </div>
                    <div>
                        <p class="font-w-400 std-tagline-font">Originality at its finest - explore our carefully
                            selected range of exclusive products that
                            are sure to impress even the most discerning customer.</p>
                    </div>
                </div>
            </div>
            <div class="pt-20">
                <button>New arrivals</button>
            </div>
        </div>
    </section>
    <section class="customer-reviews mgx-60">
        <div class="flex-jus-sb">
            <div>
                <h1 class="font-50 font-w-500 std-header-font mgb-20">View what our customers says!</h1>
                <p class="font-20 font-w-400 std-tagline-font">We provide best quality and original products, customers
                    can trust in the superior quality of our <br> authentic products
                </p>
            </div>
            <div class="flex-jus-fe flex-al-ce g-20">
                <img src="/instagram.png" alt="not-found">
                <h2 class="font-20 font-w-600 std-header-font">&#64;style your way</h2>
            </div>
        </div>
        <div class="reviews-container mgb-40">

            <div class="review-card" *ngFor="let review of reviews" [ngStyle]="{
                top: review.top + '%',
                left: review.left + '%',
                transform: 'rotate(' + review.rotate + 'deg)',
                animationDelay: review.delay + 's'
            }">
                <div class="review-header">
                    <div class="profile-img" [style.backgroundImage]="'url(' + review.img + ')'"></div>

                    <div>
                        <h3 class="font-w-600 std-header-font">{{ review.name }}</h3>
                        <div class="rating">{{ getStars(review.rating) }}</div>
                    </div>
                </div>

                <p class="font-w-400 std-tagline-font">"{{ review.comment }}"</p>
            </div>

        </div>
    </section>
    <section class="grab-attention flex-jus-sb g-40 relative">
        <div class="img-container"></div>
        <div class="overlay flex-jus-fe flex-al-end">
            <div class="bg-gold">
                <div class="mgb-10 flex-jus-ce">
                    <h1 class="font-40 font-w-500 std-header-font">Grab the best deal.</h1>
                </div>
                <div class="mgb-40 flex-jus-ce">
                    <p class="font-w-400 std-tagline-font color-grey">Explore our best deal and discounts within
                        this season. Get extra 15% OFF on every order.</p>
                </div>
                <div class="mgb-20 flex-jus-ce">
                    <p class="font-20 font-w-400 std-tagline-font">Offer closed! We will come with new offers soon.</p>
                </div>
                <div class="flex-jus-ce">
                    <a routerLink="/auth/login" class="flex-al-ce g-20 link-category">
                        <p class="std-tagline-font font-20">View All our categories</p>
                        <div class="std-tagline-font circle arrow flex-al-ce flex-jus-ce">
                            <p class="font-20">&nearr;</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-1 divider-3 flex-al-ce">
        <div class="divider-1-loop flex-jus-sb flex-al-ce">
            <p class="std-tagline-font">Free shipping</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">10% Discount on prices above ₹1000</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">Free shipping</p>
            <div class="circle" style="background-color: black;"></div>
            <p class="std-tagline-font">10% Discount on prices above ₹1000</p>
            <div class="circle" style="background-color: black;"></div>
        </div>
    </div>
    <section></section>
</div>