<div class="home-page">
    <section class="hero-section">
        <div class="hero-section-card">
            <div class="hs-card-image img-container"></div>
            <div class="hs-card-overlay flex-al-end">
                <div class="card-overlay-info flex-jus-sb w-100 p-20">
                    <div class="flex-al-bs flex-jus-fs flex-dir g-20">
                        <div>
                            <h1 class="std-header-font hero-header-font">Buy our new Arrivals</h1>
                        </div>
                        <div>
                            <p class="std-tagline-font hero-tagline-font">Hurry!!! we have new stock of the clothes and shoes. Get products
                                with best price.
                            </p>
                        </div>
                        <div>
                            <button>Shop now</button>
                        </div>
                    </div>
                    <div class="flex-al-end flex-jus-fe g-20">
                        <div class="flex-jus-sb g-20">
                            <div>
                                <button class="button std-tagline-font hero-tagline-font" style="padding-top: 5px;">&larr;</button>
                            </div>
                            <div class="flex-jus-ce flex-al-ce">
                                <p class="std-tagline-font hero-tagline-font">1/2</p>
                            </div>
                            <div>
                                <button class="std-tagline-font hero-tagline-font" style="padding-top: 5px;">&rarr;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
</div>