<div class="login-page flex-jus-ce">
    <div class="login-left flex-jus-ce flex-al-ce">
        <div class="login-card flex-al-fs flex-dir g-40">
            <div class="login-card__header">
                <h1 class="std-header-font login-header">Login</h1>
            </div>
            <div class="login-card__inputs flex-dir g-10">
                <div class="flex-dir g-10">
                    <label for="" class="std-tagline-font">Email</label>
                    <input type="text">
                </div>
                <div class="flex-dir g-10">
                    <label for="" class="std-tagline-font">Password</label>
                    <input type="text">
                </div>
                <div>
                    <a href="">
                        <h2 class="std-tagline-font">Forgot your password</h2>
                    </a>
                </div>
                <div class="login-card__button">
                    <button>Sign in</button>
                </div>
            </div>
            <div class="login-card__register flex-dir g-10">
                <div>
                    <h1 class="std-header-font account-header">Create Account</h1>
                </div>
                <div>
                    <p class="std-tagline-font">Don't have an account? Register from here.</p>
                </div>
                <div>
                    <a href="">
                        <h2 class="std-tagline-font">
                            Create account
                        </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="login-right"></div>
</div>