<div class="product-details">
    <div class="form-overlay" [class.show]="isVisible" (click)="toggleUpdate()">
    </div>

    <div>
        <div class="form-drawer" [class.show]="isVisible">
            <app-update-product-form [product]="productInfo" (close)="toggleUpdate()"
                (updated)="toggleUpdate()"></app-update-product-form>
        </div>
    </div>

    <div>
        <div class="navigation p-20 flex-jus-sb flex-al-ce mgb-40">
            <div class="flex-jus-fs flex-al-ce">
                <h1 class="std-header-font font-w-500">Home</h1>
                <div class="circle" style="background-color: black; height: 5px; width: 5px"></div>
                <h1 class="std-header-font font-w-500">{{category_name}}</h1>
                <div class="circle" style="background-color: black; height: 5px; width: 5px"></div>
                @if (productInfo) {
                <h1 class="std-header-font font-w-500">{{productInfo.product_name}}</h1>
                }
            </div>
            <button *appToggleVisibility="auth.isAdmin()" (click)="toggleUpdate()">Update product details</button>
        </div>
        @if (productInfo) {
        <div class="product-info flex-jus-sb g-40 mgb-40">
            <div class="product-images">
                <div class="img-container mgb-20"></div>
                <div class="flex-jus-fs flex-al-ce g-20">
                    <div class="img-container extra-images"></div>
                    <div class="img-container extra-images"></div>
                    <div class="img-container extra-images"></div>
                </div>
            </div>
            <div>
                <div class="mgb-20">
                    <h1 class="font-50 std-header-font font-w-500">{{productInfo.product_name}}</h1>
                </div>
                <div class="mgb-20">
                    <h1 class="std-header-font font-w-500">{{type_name}} > {{category_name}} > {{subcategory_name}}</h1>
                </div>
                <div class="mgb-20">
                    <h2 class="std-tagline-font font-w-500 color-grey">PRICE</h2>
                    <div class="flex-jus-fs flex-al-ce g-40">
                        <h3 class="font-40 font-w-500 std-header-font">₹{{productInfo.product_price}} USD</h3>
                        <div class="sale-tag flex-jus-ce flex-al-ce">
                            <h2 class=" font-w-600 std-tagline-font">SALE</h2>
                        </div>
                    </div>
                </div>
                <div class="mgb-20">
                    <h3 class="std-tagline-font" style="color: green;">Tax included</h3>
                </div>
                <div class="mgb-20">
                    <p class="std-tagline-font font-w-500 color-grey">{{productInfo.product_description}} Lorem ipsum
                        dolor sit, amet consectetur adipisicing elit. Doloremque, vitae? Eveniet alias vero animi fugiat
                        optio vitae cupiditate doloremque magnam corrupti temporibus. Eos incidunt atque exercitationem
                        quisquam dolorum culpa quia.</p>
                </div>
                <div class="flex-jus-fs flex-al-ce g-20 update-cart mgb-20">
                    <div class="flex-jus-sb flex-al-ce g-10">
                        <div class="circle" (click)="updateQuantity(-1)">
                            <h1 class="font-w-500 std-header-font flex-jus-ce flex-al-ce">-</h1>
                        </div>
                        <h3 class="std-tagline-font font-w-500">{{quantity}}</h3>
                        <div class="circle" (click)="updateQuantity(1)">
                            <h1 class="font-w-500 std-header-font flex-jus-ce flex-al-ce">+</h1>
                        </div>
                    </div>
                    <div>
                        <button class="bg-gold" (click)="handleAddToCart()">Add to cart</button>
                    </div>
                </div>
                <div>
                    <button (click)="redirectTo()">Buy with Gpay</button>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="hurry-up">
        <h1 class="font-50 std-header-font font-w-500">Hurry Up!</h1>
        <p class="std-tagline-font font-w-500">Make sure you order before the offer closes. Hurry up! offer is ending
            soon.</p>
    </div>
    <div>
        <h1 class="font-50 std-header-font font-w-500 mgb-20">You may also like</h1>
        <div class="flex-jus-fs flex-al-ce g-20">
            <app-product-card class="product-card"></app-product-card>
            <app-product-card class="product-card"></app-product-card>
            <app-product-card class="product-card"></app-product-card>
            <app-product-card class="product-card"></app-product-card>
        </div>
    </div>
    <div class="reviews">
        <div class="flex-jus-sb flex-al-ce">
            <h1 class="font-40 std-header-font font-w-500 mgb-20">Reviews</h1>
            <button (click)="toggleAddReview()">Add review</button>
        </div>
        <div *appToggleVisibility="addReview" class="mgb-40">
            <form #reviewForm="ngForm" (ngSubmit)="handleAddReview()">
                <div>
                    <div class="flex-jus-fs flex-al-fs flex-dir mgb-40 g-10">
                        <label for="comments" class="std-tagline-font">Comments</label>
                        <textarea name="comments" id="comments" [(ngModel)]="comments" required></textarea>
                    </div>

                    <div  class="flex-jus-fs flex-al-fs flex-dir mgb-20 g-10">
                        <label for="rating" class="std-tagline-font">Rating (1-5)</label>
                        <input type="number" name="rating" id="rating" min="1" max="5" [(ngModel)]="rating"
                            (input)="validateRating($event)" required>
                        @if (rating < 1 || rating> 5) {
                            <small style="color: red;">Rating must be between 1 and 5.</small>
                            }
                    </div>
                </div>
                <button type="submit" [disabled]="reviewForm.invalid">Submit</button>
            </form>
        </div>
        <div class="flex-dir flex-jus-fs flex-al-fs g-20 mgb-20">
            @for(review of reviews; track review.review_id){
            <app-review-card [review]="review"></app-review-card>
            }
        </div>
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="handlePageChange($event)"></app-pagination>
    </div>
</div>
<app-footer></app-footer>