<div class="login-page flex-jus-ce">
    <div class="login-left flex-jus-ce flex-al-ce">
        <form class="login-card flex-al-fs flex-dir g-40" [formGroup]="newPasswordForm" (ngSubmit)="changePassword()">
            <div class="login-card__header">
                <h1 class="std-header-font login-header">Enter your new Password</h1>
            </div>
            <div class="login-card__inputs flex-dir g-10">
                <div class="flex-dir g-10">
                    <label for="" class="std-tagline-font">OTP</label>
                    <input type="text" placeholder="Enter Confirm Password" formControlName="otp">
                    @if (newPasswordForm.get("otp")?.invalid &&
                    (newPasswordForm.get('otp')?.touched ||
                    newPasswordForm.get('otp')?.dirty)) {
                    <div class="error flex-al-ce flex-jus-fs g-10 show">
                        <img src="error.png" alt="" class="err-img">
                        @if (newPasswordForm.get("otp")?.errors?.['required']) {
                        <p class="std-tagline-font">Confirm Password is required</p>
                        }
                        @if (newPasswordForm.get("otp")?.errors?.['minlength']) {
                        <p class="std-tagline-font">Confirm Password is too short</p>
                        }
                    </div>
                    }
                </div>
                <div class="flex-dir g-10">
                    <label for="" class="std-tagline-font">Password</label>
                    <input type="text" placeholder="Enter Password" formControlName="newPassword">
                    @if(newPasswordForm.get('newPassword')?.invalid && (newPasswordForm.get('newPassword')?.touched ||
                    newPasswordForm.get('newPassword')?.dirty)){
                    <div class="error flex-al-bs flex-jus-fs g-10 show">
                        <img src="error.png" alt="" class="err-img">
                        <div class="flex-al-bs flex-jus-ce flex-dir g-10">
                            @if(newPasswordForm.get('newPassword')?.errors?.['required']){
                            <p class="std-tagline-font">Password is required</p>
                            }
                            @if(newPasswordForm.get('newPassword')?.errors?.['minlength']){
                            <p class="std-tagline-font">Password is too short</p>
                            }
                            @if(newPasswordForm.get('newPassword')?.errors?.['passwordStrength']){
                            @if(!newPasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasNumber){
                            <p class="std-tagline-font">Password must contain a number</p>
                            }
                            @if(!newPasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasUpperCase){
                            <p class="std-tagline-font">Password must contain an uppercase letter</p>
                            }
                            @if(!newPasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasLowerCase){
                            <p class="std-tagline-font">Password must contain a lowercase letter</p>
                            }
                            @if(!newPasswordForm.get('newPassword')?.errors?.['passwordStrength'].hasSpecialChar){
                            <p class="std-tagline-font">Password must contain a special character</p>
                            }
                            }
                        </div>
                    </div>
                    }
                </div>
                <div class="flex-dir g-10">
                    <label for="" class="std-tagline-font">Confirm Password</label>
                    <input type="text" placeholder="Enter Confirm Password" formControlName="confirmNewPassword">
                    @if (newPasswordForm.get("confirmNewPassword")?.invalid &&
                    (newPasswordForm.get('confirmNewPassword')?.touched ||
                    newPasswordForm.get('confirmNewPassword')?.dirty)) {
                    <div class="error flex-al-ce flex-jus-fs g-10 show">
                        <img src="error.png" alt="" class="err-img">
                        @if (newPasswordForm.get("confirmNewPassword")?.errors?.['required']) {
                        <p class="std-tagline-font">Confirm Password is required</p>
                        }
                        @if (newPasswordForm.get("confirmNewPassword")?.errors?.['minlength']) {
                        <p class="std-tagline-font">Confirm Password is too short</p>
                        }
                        @if (newPasswordForm.get("confirmNewPassword")?.errors?.['matchPassword']) {
                        <p class="std-tagline-font">Confirm Password does not match</p>
                        }
                    </div>
                    }
                </div>
                <div class="login-card__button pt-20">
                    <button type="submit" [disabled]="newPasswordForm.invalid">Change password</button>
                </div>
            </div>
        </form>
    </div>
    <div class="login-right"></div>
</div>